@import "./var.scss";
@import "./reset.scss";

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
}

.img-cover {
  overflow: hidden;
  object-fit: cover;
}
.textoneline {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.App {
  background-color: $colormain;
  height: 100vh;
  width: 100%;
}
.gap-10 {
  gap: 10px;
}
.gap-5 {
  gap: 5px;
}
.gap-20 {
  gap: 20px;
}

.colorlink {
  color: $colorlink;
}
.colortext {
  color: $colortext;
}
.triangle{
  &::before{
    content: " ";
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 10px solid $colorborder;
    position: absolute;
    top: -10px;
    right: 49px;
  }
  &::after{
    content: " ";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $colorbox;
    position: absolute;
    top: -10px;
    right: 50px;
  }
}