@import "./var.scss";

.explore {
  height: calc(100vh - 62px);
  width: 100%;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.explore-list-item img:hover ~ .explore-list-item-group2 {
  display: block;
}

.explore-list {
  width: 100%;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);

  &-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &-group {
      width: 100%;
      //   display: none;
      height: 100%;
      z-index: 9999;
    }
    &-group2 {
      width: 100%;
      display: none;
      height: 100%;
      z-index: 9999;
    }
    &-icon {
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.5);
      color: $colorbox;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      z-index: 999;
      & p {
        font-size: 16px;
      }
    }
    &-iconheart,
    &-iconcmt {
      align-items: center;
      text-align: center;
    }
  }
  margin-top: 30px;
}
