@import "./var.scss";
@import './homePost.scss';
.home {

  &-posts {
    height: calc(100vh - 62px);
    max-width: 614px;
    width: 614px;
    background-color: $colormain;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &-suggest {
    height: calc(100vh - 62px);
    max-width: 293px;
    width: 293px;
    align-self: start;
    // display: none;
    margin-left: 30px;
    &-user {
      padding: 50px 0 20px 0;
      & img {
        width: 56px;
        height: 56px;
        border-radius: 50px;
        object-fit: cover;
      }
      &-info {
        align-items: center;
      }
      &-name {
        & p:nth-child(1) {
          font-weight: 600;
          font-size: 13px;
          margin-bottom: 5px;
        }
        & p:nth-child(2) {
          color: $colorhover;
          font-size: 13px;
        }
      }
      &-switch {
        font-weight: 500;
        & p {
          font-size: 12px;
        }
      }
    }
    &-title {
      margin-bottom: 10px;
      & p:nth-child(1) {
        font-weight: 600;
        font-size: 13px;
        color: $colorhover;
      }
    }
    &-follow {
      &-item {
        padding: 8px 0;
      }
      &-user img {
        width: 32px;
        height: 32px;
        object-fit: cover;
        border-radius: 50px;
      }
      &-name {
        align-items: center;
        & p:nth-child(1) {
          margin-bottom: 5px;
          font-size: 13px;
          font-weight: 600;
        }
        & p:nth-child(2) {
          color: $colorhover;
          font-size: 12px;
        }
      }
    }
    &-footer {
      margin-top: 20px;
      flex-wrap: wrap;
      & p {
        font-size: 12px;
        color: $colorsub;
        line-height: 1.5;

        & i {
          color: $colorhover;
          font-size: 3px;
          padding-right: 3px;
          transform: translateY(-3px);
        }
      }
      &-copy-right {
        margin-top: 15px;
      }
    }
  }
  &-content{
    &-post{
    background-color: $colorbox;
      margin-bottom: 30px;
    }
  }
}
