$colortext: #262626;
$colorsub: #c7c7c7;
$colorlink: #0095f6;
$colorhover: #8e8e8e;
$colorborder: #dbdbdb;
$colorbox: #ffffff;
$colormain: #fafafa;
$colorinput: #efefef;

$textsize: 14px;
$iconsize: 24px;
$contensize: 940px;
